{% extends 'base.html.twig' %}

{% block title %}Bienvenue chez HotelHouse{% endblock %}

{% block body %}
<hr>
<center class="container row">
    <div class="row col-12">
        <div class="col-lg-4">
            <img src="{{ 'image/chambre.png' }}" alt="" class="rounded-circle" style="width: 250px; height: 250px;">
            <h3><b>Chambre</b></h3>
            <p>Venez découvrir nos chambres pour votre plus grand confort !</p>
            <a href="{{ path('chambre') }}#room" class="btn btn-secondary">Découvrir les chambres</a>
        </div>
        <div class="col-lg-4">
            <img src="{{ 'image/restaurant.png' }}" alt="" class="rounded-circle" style="width:250px; height:250px;">
            <h3><b>Restaurant</b></h3>
            <p>Nos plats sont confectionnés à la minute par notre chef cuisinier chaque jour.</p>
            <a href="{{ path('restaurant') }}#resto" class="btn btn-secondary">Voir la carte</a>
        </div>
        <div class="col-lg-4">
            <img src="{{ 'image/spa.png' }}" alt="" class="rounded-circle" style="width:250px; height:250px;">
            <h3><b>Spa</b></h3>
            <p>Détendez-vous et offez vous un massage dont vous vous rappellrez longtemps.</p>
            <a href="{{ path('spa') }}#spa" class="btn btn-secondary">Les soins</a>
        </div>
    </div>
</center>
<hr>




{% endblock %}
