{% extends 'base.html.twig' %}

{% block title %}Enregistrement{% endblock %}

{% block body %}
    <h1>S'enregistrer</h1>

    {{ form_start(registrationForm, {
        attr: {
            novalidate: 'novalidate'
        }
        }) }}
        <div class="row col-12">
            <div class="col-6">
                {{ form_row(registrationForm.pseudo) }}
            {{ form_row(registrationForm.nom) }}
            </div>
            <div class="col-6">
                {{ form_row(registrationForm.civilite) }}
            {{ form_row(registrationForm.prenom) }}
            </div>
            <div class="col-12">
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword) }}
            </div>
        </div>
<hr>
        <button type="submit" class="btn btn-secondary col-12">S'enregistrer</button>
    {{ form_end(registrationForm) }}
{% endblock %}
